{% extends 'base.html' %}

{% block content %}
    {% if plants_len == 0 %}
        <p class="no-articles">No plants yet</p>
    {% else %}
        {% for plant in plants %}
            <section id="catalogue">
                <!-- plant-->
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="{{ plant.image}}"
                             alt="Indoor Plants">
                    </div>
                    <!-- plant name -->
                    <h3>{{ plant.name }}</h3>
                    <!-- plant description -->
                    <h1>{{ plant.description|truncatechars:20 }}</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="{% url 'plant_details' pk=plant.id %}" class="details-btn">Details</a>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}